@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Layout Helper for AI Script Writing */
.aisw-scale {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: 0;
}
